
/*      
 
    Style sheet for 'alanesq.com/links' - 02 nov 19       
 
    reference: https://www.w3schools.com/cssref
    
*/



/* --------------------- main settings --------------------- */


:root {

  --top-menu-height: 30px;              /* Note: this can be changed below depending on screen width */
    
  --left-menu-width: 60px;              /* needs to be same as in the javascript file */

}


/* ------------------- Conditional section ----------------- */


/* vary top menu height depending on screen width */

@media only screen and (max-width: 650px) {
    :root {
        --top-menu-height: 60px;
    }
}

@media only screen and (max-width: 317px) {
    :root {
        --top-menu-height: 90px;
    }
}

@media only screen and (max-width: 265px) {
    :root {
        --top-menu-height: 120px;
    }
}

@media only screen and (max-width: 233px) {
    :root {
        --top-menu-height: 150px;
    }
}


/* ---------------- main body of page ---------------------- */


.iframe {
    position: fixed;
    top: var(--top-menu-height);
    left: var(--left-menu-width);
    padding: 0;
    border: 0;
    z-index: 100;                                       /* so that side menu is over the top of the iFrame */
    overflow: scroll;                                   /* show scroll bar if page oversized */
    width: calc(100vw - var(--left-menu-width));        /* fit iframe to available space */
    height: calc(100vh - var(--top-menu-height));
}


/* ------------------ top menu ----------------------------- */


.top-menu {
    display: flex;      /* see  https://www.w3schools.com/css/css3_flexbox.asp#flex-wrap */
    flex-wrap: wrap;
    position: fixed;
    align-items: center;
    top: 0px;
    left: var(--left-menu-width);
    height: var(--top-menu-height);
    width: calc(100vw - var(--left-menu-width));
    background: linear-gradient(to bottom, #ff0 0%, #ee0 100%);
}

.top-menu a {
    margin: 0px;
    padding: 6px; 
    height: calc( var(--top-menu-height) - 12 );    /* height of cell - top and bottom padding */
    text-transform: uppercase;
    text-decoration: none;
    font-family: ariel;
    font-size: 16px;
    color: #000;
    text-shadow: 0 0 2px #000000, 0 0 2px #0ff;
}

.top-menu a:hover {
    background-color: #ff7; 
}


.btn {
    position: fixed;
    top: 0px;
    left: 0px;
    width: var(--left-menu-width);
    height: var(--top-menu-height);
    background: linear-gradient(to bottom, #ff0 0%, #ee0 100%);
    cursor: pointer;
}

.btn:hover {
    opacity: 0.4; 
}


.moreLinks {
    z-index: 300;
    position: fixed;
    top: calc(var(--top-menu-height) + 100px);
    left: 0px;
    top: var(--top-menu-height);
    /* transform: rotate(-90deg); */ 
}


/* ------------------ left menu ---------------------------- */


.sidebar {
    z-index: 200;
    position: fixed;
    left: 0;
    bottom: 0;
    width: var(--left-menu-width);
    height: calc(100vh - var(--top-menu-height));
    background: linear-gradient(to bottom, #ee0 0%, #aa0 100%);
    z-index: 200;                          /* above iFrame */
    transition: all 0.4s ease-in-out;      /* slide the side menu in/out */
}

.sidebar a {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 5px;
    line-height: 30px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    font-family: ariel;
    font-size: 16px;
    color: #000;
    text-shadow: 0 0 2px #000000, 0 0 2px #0ff;
    list-style: none;
    overflow: hidden;
    visibility: hidden;                     /* hidden until button pressed */
}

.sidebar a:hover {
    background-color: #FF8;
}


/* ---------------------- end ------------------------------ */


